" keymap

" tmux match (Alt Windows, Ctrl Mac) 
" Alt+A, second |     = Split and Move Right
" Alt+A, second -     = Split and Move Down
" Alt+A, second x     = (other, tabs) Close
" Alt+A, second z     = Hide All Tool Windows
" Alt+A, second u     = Unsplit All
" Alt+A, second o     = (window, editor tabs) Close other Tabs
" Alt+A, second right = Goto Next Splitter
" Alt+A, second left  = Goto Previos Splitter

" debug; Alt cause isssue with Windows inserting Ascii characters
" Ctrl+NumPad +   = Stop
" Ctrl+NumPad-0   = Run
" Ctrl+. (numpad) = Debug
" Ctrl+NumPad-5   = Drop Frame 
" Ctrl+NumPad-3   = Smart Step into
" Ctrl+NumPad-2   = Step over
" Ctrl+NumPad-1   = Resume Program
" Ctrl+NumPad-7   = View Breakpoints
" Ctrl+NumPad-9   = Compile and Reload File

set number
set incsearch hlsearch
set ignorecase smartcase
set clipboard+=unnamed
set scrolloff=5
set showmode
set surround

let mapleader = ","
let g:mapleader = ","

" esc in insert mode
"inoremap jj <esc>
" esc in command mode
"cnoremap jj <C-C>

" Yank from cursor to end of line
nnoremap Y y$

" reload
nnoremap <leader>z :source ~/.ideavimrc<cr>

" disable visual mode delete
vnoremap <BS> d

" Intellij only

" common
nnoremap r :<C-u>action RenameElement<CR>
